body {
  font-size: 14px;
  background: #f9f9f9;
}
header {
  background: #8d48ab;
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
}
header a.logo {
  float: left;
  color: #ffffff;
  margin-left: 20px;
  margin-right: 40px;
}
header nav.menu {
  float: left;
}
header nav.menu a {
  color: #eeeeee;
  margin-right: 18px;
  padding: 6px;
  border-radius: 9px;
}
header nav.menu a.active {
  color: #ffffff;
  border: 1px solid #eeeeee;
}
header nav.user {
  float: right;
  margin-right: 18px;
}
header nav.user a {
  color: #ffffff;
  margin-left: 18px;
}
header nav.user span {
  color: #ffffff;
}
header:after {
  clear: both;
}
footer {
  position: absolute;
  bottom: 0;
  background: #737980;
  height: 50px;
  line-height: 50px;
  width: 100%;
}
footer p {
  color: #ffffff;
  text-align: center;
}
footer p a {
  color: #cccccc;
}
.pagelist {
  margin-top: 9px;
  text-align: right;
}
section {
  position: absolute;
  top: 69px;
  bottom: 59px;
  width: 100%;
}
section img.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  z-index: -1;
}
.analyze .leftbox {
  float: left;
  width: 68%;
  padding: 1%;
}
.analyze .rightbox {
  float: right;
  width: 28%;
  padding: 1%;
}
