<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>音乐系统</title>
<link href="/css/jfa.css" rel="stylesheet" />
<link href="/css/base.css" rel="stylesheet" />
<link href="/css/font-awesome.min.css" rel="stylesheet" />
<link href="/css/index.css" rel="stylesheet" />
<link rel="shortcut icon" href="/favicon.ico" />
<script src="/js/dist/echarts-all.js"></script>
<!--[if lte IE 7]>
<link href="/css/ie/ie7.css" rel="stylesheet" />
<![endif]-->
<!--[if lt IE 11]>
<script src="/js/ie/PIE.js" ></script>
<script src="/js/ie/html5shiv.min.js" ></script>
<script src="/js/ie/respond.min.js"></script>
<![endif]-->
</head>
<body>
<header>
	<a href="/" class="logo">推荐</a>
	<nav class="menu" jui-click="active" jui-tar="a" jui-callback="menu1">
		<a t="music">歌曲</a>
		<a t="singer">歌手</a>
	</nav>
	<nav class="user">
		<span></span> <a class="login">登陆</a> <a class="reg">注册</a>
	</nav>
</header>
<section id="content">

</section>
</body>
<script src="js/require.js" defer async="true" data-main="js/index"></script>
</html>