{% load staticfiles %}
{% load mytags  %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html;charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<title>音乐系统</title>
<link href="{% static 'css/jfa.css' %}" rel="stylesheet" />
<link href="{% static 'css/base.css' %}" rel="stylesheet" />
<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
<link href="{% static 'css/index.css' %}" rel="stylesheet" />
<link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
<script src="{% static 'js/dist/echarts-all.js' %}"></script>
<!--[if lte IE 7]>
<link href="{% static 'css/ie/ie7.css' %}" rel="stylesheet" />
<![endif]-->
<!--[if lt IE 11]>
<script src="{% static 'js/ie/PIE.js' %}" ></script>
<script src="{% static 'js/ie/html5shiv.min.js' %}" ></script>
<script src="{% static 'js/ie/respond.min.js' %}"></script>
<![endif]-->
</head>
<body>
<header>
	<a href="/" class="logo">行业资讯分析平台</a>
	<nav class="menu" jui-click="active" jui-tar="a" jui-callback="menu1">
		{%for m in menuList%}<a t="{{m.active}}">{{m.name}}</a>{%endfor%}
	</nav>
	<nav class="user">
		<span></span> <a class="login">登陆</a> <a class="reg">注册</a>
	</nav>
</header>
<section id="content">

</section>
</body>
<script src="{% static 'js/require.js' %}" defer async="true" data-main="{% static 'js/index' %}"></script>
</html>