{%extends 'base.html'%}
{% load staticfiles %}
{% load mytags  %}
{%block css%}<link href="{% static 'css/home.css' %}" rel="stylesheet" />{%endblock%}
{%block content%}
<div class="home">
	<div class="logo">行业资讯，一手掌握</div>
	<div class="search">
		<div class="boxs"><input type="text" /></div>
		<div class="boxb"><input type="button" value="搜索"/></div>
	</div>
</div>
{%endblock%}
{%block js%}<script src="{% static 'js/require.js' %}" defer async="true" data-main="{% static 'js/home' %}"></script>{%endblock%}